<div class="mh-fixed-menu mh-fixed-menu--transparent-light">
    <div class=mh-top-wide>
        <div class=mh-menu-primary-color-background>
            <div class="mh-top-header mh-top-header--default">
                <div class=mh-layout>
                    <div class=mh-menu-currency-wrapper> <span class=mh-currency-switcher__label>Currency </span>
                        <select id=mh-menu-currency_switcher class="selectpicker mh-currency-switcher">
                            <option value=any>Any</option>
                            <option value=price selected=selected> $</option>
                            <option value=price_5> £</option>
                        </select></div>
                    <span class="mh-top-header__element mh-top-header__element--phone"> <a
                            href=tel:+231886906044+231770187424> <i class=flaticon-phone></i> +(231) 886906044 +(231)
                            770187424 </a> </span> <span class=mh-top-header__element>
                        <address> <i class=flaticon-pin></i> Sekou Toure Avenue, Mamba Point, Monrovia, Liberia.
                        </address>
                    </span> <span class="mh-top-header__element mh-top-header__element--mail"> <a
                            href=mailto:info@propertyfinder.com.lr> <i class=flaticon-mail-2></i>
                            info@propertyfinder.com.lr </a> </span> <span
                        class="mh-top-header__element mh-top-header__element--social-icons"> <span> <a  href="https://web.facebook.com/propertyfinderliberia/" target=_blank> <i
                                    class="fa fa-facebook mh-top-header-big__element__icon-big"></i> </a> </span><span>
                            <a href="https://www.instagram.com/propertyfinderlr/" target=_blank> <i
                                    class="fa fa-instagram mh-top-header-big__element__icon-big"></i> </a> </span><span>
                            <a href="https://www.linkedin.com/company/property-finder-liberia" target=_blank> <i
                                    class="fa fa-linkedin mh-top-header-big__element__icon-big"></i> </a> </span>
                    </span>
                    <div class=mh-top-bar-user-panel-small>
                        <div class=mh-top-bar-user-panel>
                            <!--<user-bar id="myhome-user-bar"></user-bar>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="mh-header default">
                <div id=mega_main_menu
                    class="mh-primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-none direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_4 no-logo no-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-2-1 mh-primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-none direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_4 no-logo no-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-2-1 mega_main mega_main_menu">
                    <div class=menu_holder>
                        <div class=mmm_fullwidth_container></div>
                        <div class=menu_inner> <span class=nav_logo> <a class=mobile_toggle> <span class=mobile_button>
                                        <span class=symbol_menu><i class="fa fa-bars"></i></span> <span
                                            class=symbol_cross><i class="fa fa-times"></i></span> </span>
                                </a>
                                <a class=logo_link href=index.html title="Property Finder Liberia"> <img
                                        data-logo="assets/wp-content/uploads/2019/10/property-finder_white-1-1024x675.png"
                                        alt="Property Finder Liberia"
                                        data-src="assets/wp-content/uploads/2019/10/property-finder_white-1-1024x675.png"
                                        class=lazyload
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img
                                            src="assets/wp-content/uploads/2019/10/property-finder_white-1-1024x675.png"
                                            data-logo="assets/wp-content/uploads/2019/10/property-finder_white-1-1024x675.png"
                                            alt="Property Finder Liberia"></noscript> </a>
                            </span>
                            <ul id=mega_main_menu_ul class=mega_main_menu_ul>
                                <li id=menu-item-3481
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3481 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="advanced-search-form/index.html" class="item_link  disable_icon" tabindex=1>
                                        <i class></i> <span class=link_content> <span class=link_text> Advanced Search
                                            </span> </span>
                                    </a>
                                </li>
                                <li id=menu-item-3479
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3479 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="about-us/index.html" class="item_link  disable_icon" tabindex=2> <i
                                            class></i> <span class=link_content> <span class=link_text> About us </span>
                                        </span>
                                    </a>
                                </li>
                                <li id=menu-item-3478
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3478 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="blog/index.html" class="item_link  disable_icon" tabindex=3> <i class></i>
                                        <span class=link_content> <span class=link_text> News </span> </span>
                                    </a>
                                </li>
                                <li id=menu-item-3480
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3480 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="contact/index.html" class="item_link  disable_icon" tabindex=4> <i class></i>
                                        <span class=link_content> <span class=link_text> Contact </span> </span>
                                    </a>
                                </li>
                                <li id=menu-item-3506
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3506 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="request-property/index.html" class="item_link  disable_icon" tabindex=5> <i
                                            class></i> <span class=link_content> <span class=link_text> Request A
                                                Property </span> </span>
                                    </a>
                                </li>
                                <li id=menu-item-3509
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3509 default_dropdown  drop_to_right submenu_default_width columns1">
                                    <a href="panel/index.html" class="item_link  disable_icon" tabindex=6> <i class></i>
                                        <span class=link_content> <span class=link_text> Submit Property </span> </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mh-sticky-menu-placeholder mh-sticky-menu-placeholder--active "></div>
<div class=mh-layout>
    <div id=post-409 class=mh-post>
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1488043136625">
                    <div class=wpb_wrapper>
                        <!--<listing-grid id="myhome-listing-grid" class="mh-search-left" config-key="MyHomeListing1648443446">
                        </listing-grid>-->
                    </div>
                </div>
            </div>
        </div>
        <div data-vc-full-width=true data-vc-full-width-init=false
            class="vc_row wpb_row vc_row-fluid vc_custom_1488467454490 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1488467272652">
                    <div class=wpb_wrapper>
                        <div class=" ">
                            <div class=mh-heading-wrapper>
                                <h2 class="mh-heading  mh-heading--bottom-separator   " style="font-weight:700;"> Make A
                                    Request</h2>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class=wpb_wrapper>
                                <p style="text-align: center;">Can&#8217;t Find what you&#8217;re looking for? Make a
                                    request now and an agent will reach out to you once they&#8217;ve found what you
                                    want.</p>
                            </div>
                        </div>
                        <div style=text-align:center; class> <a href=index.html#
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary "
                                title="Make A Request" target=_blank> Make A Request </a></div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class=vc_column-inner>
                    <div class=wpb_wrapper>
                        <div class=" ">
                            <div class=mh-heading-wrapper>
                                <h2 class="mh-heading  mh-heading--bottom-separator   " style="font-weight:700;"> Submit
                                    A Property</h2>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class=wpb_wrapper>
                                <p style="text-align: center;">Got A property you want to Sell, Lease or Rent? Sign up
                                    or login to upload and get offers right away!</p>
                            </div>
                        </div>
                        <div style=text-align:center; class> <a href=index.html#
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary "
                                title="Sign up|Login" target=_blank> Sign up|Login </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class=vc_column-inner>
                    <div class=wpb_wrapper>
                        <div class="ult-spacer spacer-6241403678f3c" data-id=6241403678f3c data-height=10
                            data-height-mobile=10 data-height-tab=10 data-height-tab-portrait=10
                            data-height-mobile-landscape=10 style=clear:both;display:block;></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=essb_break_scroll></div>
    </div>
</div>
<footer id=footer class="mh-footer-top mh-background-cover mh-footer-top--dark">
    <div class=mh-footer__inner>
        <div class=mh-layout>
            <div class=mh-footer__row>
                <div class="mh-footer__row__column widget mh-footer__row__column--1of2">
                    <div class=mh-footer__text> Liberia's NO.1 Property Marketplace</div>
                    <address class=mh-footer__contact> <i class=flaticon-pin></i> Sekou Toure Avenue, Mamba Point,
                        Monrovia Liberia </address>
                    <div class=mh-footer__contact>
                        <a href=tel:+231770187424|+231886906044> <i class=flaticon-phone></i>
                            +231770187424|+231886906044 </a>
                    </div>
                    <div class=mh-footer__contact>
                        <a href=mailto:info@propertyfinder.com.lr> <i class=flaticon-mail-2></i>
                            info@propertyfinder.com.lr </a>
                    </div>
                </div>
                <div class="mh-footer__row__column mh-footer__row__column--1of2 widget widget-mh-social-icons"
                    id=myhome-social-icons-widget-2>
                    <h3 class="mh-footer__heading">Follow us</h3>
                    <div class=mh-social-icons>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-facebook"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-twitter"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-instagram"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-linkedin"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-youtube"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-pinterest"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-slideshare"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-vimeo"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-dropbox"></i></a>
                        <a class=mh-social-icon target=_blank href=#> <i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mh-footer-bottom ">
        <div class=mh-layout> Property Finder Liberia 2019. All rights reserved.</div>
    </div>
</footer>
<!--<account id="myhome-account"></account>
<save-search id="myhome-save-search"></save-search>-->